---
import style from "./Debonair.module.scss";
---

<header class={style.header}>
  <div class={style.header_container}>
    <h2>Debonair</h2>
  </div>
</header>

<main>
  <div class={style.main_container}>
    <section class={style.main_banner}>
      <h2 class={style.main_banner_heading}>Debonair</h2>
    </section>

    <section class={style.text}>
      <p class={style.text_bold}>
        Lorem ipsum dolor sit <span class={style.text_accent}>Amet</span>,
        <span class={style.text_accent}>Consectetur</span>,
        <span class={style.text_accent}>Adipisicing</span> elit. A placeat nostrum amet molestiae id,
        laborum repellendus molestias quam quidem incidunt?
      </p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, error illo vero provident
        reprehenderit adipisci!
      </p>
    </section>

    <section class={style.collageV01}>
      <div class={style.collageV01_area_1}></div>
      <div class={style.collageV01_area_2}></div>
      <div class={style.collageV01_area_3}></div>
    </section>

    <section class={style.text}>
      <p class={style.text_bold}>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quo rem harum officia
        debitis vel nisi asperiores reprehenderit officiis accusamus, et ipsa omnis dolor
        necessitatibus in optio fuga ad molestiae?
      </p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, error illo vero provident
        reprehenderit adipisci!
      </p>
    </section>

    <section class={style.collageV02}>
      <div class={style.collageV02_area_1}></div>
      <div class={style.collageV02_area_2}></div>
      <div class={style.collageV02_area_3}></div>
      <div class={style.collageV02_area_4}></div>
    </section>

    <section class={style.text}>
      <p class={style.text_bold}>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quo rem harum officia
        debitis vel nisi asperiores reprehenderit officiis accusamus, et ipsa omnis dolor
        necessitatibus in optio fuga ad molestiae?
      </p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, error illo vero provident
        reprehenderit adipisci!
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo vitae, molestiae ipsa
        voluptatibus omnis quia doloremque magni sint, ea consequuntur illo aliquam earum. Eos,
        iusto libero nostrum laborum minus repellendus.
      </p>
    </section>

    <section class={style.collageV03}>
      <div class={style.collageV03_area_1}></div>
      <div class={style.collageV03_area_2}></div>
      <div class={style.collageV03_area_3}></div>
      <div class={style.collageV03_area_4}></div>
    </section>

    <section class={style.text}>
      <p class={style.text_bold}>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quo rem harum officia
        debitis vel nisi asperiores reprehenderit officiis accusamus, et ipsa omnis dolor
        necessitatibus in optio fuga ad molestiae?
      </p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, error illo vero provident
        reprehenderit adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
        vitae, molestiae ipsa voluptatibus omnis quia doloremque magni sint, ea consequuntur illo
        aliquam earum. Eos, iusto libero nostrum laborum minus repellendus.
      </p>
    </section>

    <section class={style.collageV04}>
      <div class={style.collageV04_area_1}></div>
      <div class={style.collageV04_area_2}>
        <h2 class={style.text_bold}>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates similique quas
          consequuntur reiciendis voluptatem porro!
        </h2>
        <p class={style.text_accent}>Lorem, ipsum dolor.</p>
      </div>
    </section>
  </div>
</main>

<footer class={style.footer}>
  <div class={style.footer_container}>
    <h2 class={style.text_bold}>Debonair</h2>

    <section class={style.contact}>
      <div class={style.contact_section}>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem.</li>
        </ul>

        <ul>
          <li>Lorem.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>

        <ul class={style.email}>
          <li>Lorem, ipsum dolor.</li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur mollitia libero!
          </li>
          <li class={style.email_sign_up}>
            <label for="email">
              <input type="email" id="email" name="email" placeholder="Email Address" required />
            </label>
            <button>Sing up</button>
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>
