---
import { format } from "date-fns";
import { pageName } from "../../store/store";
import style from "./RootLayout.module.scss";
import githubIcon from "../../assets/icon/github.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
const date = new Date();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageName} - {title}</title>
  </head>
  <body class={style.body}>
    <header class={style.header}>
      <div class={style.header_container}>
        <h2>
          <a href="/">
            {pageName}
          </a>
        </h2>

        <h2 class={style.header_container_date}>{format(date, "MMMM do")}</h2>
      </div>
    </header>

    <main>
      <slot />
    </main>

    <footer class={style.footer}>
      <div class={style.footer_container}>
        {pageName} - {format(date, "y")}
      </div>

      <a href="https://github.com/gustavo-rbl" target="_blank" class={style.footer_githubIcon}>
        <img src={githubIcon} alt="Github Icon" />
      </a>
    </footer>
  </body>
</html>
